.DS_Store
.idea/
*/log/
*/tmp/
*~
.#*
CVS/
.svn/
.hg/
target/
lib/
lib_managed/
src_managed/
build/
project/boot/
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
.cvsignore
.hgignore
*.iml
*.iws
*.ipr
